In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/WiNDOWS/Dropbox/PC/Desktop/Sem_V/ML/ML_Project/Project_Codes/spotify_millsongdata.csv")

In [4]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [6]:
df.shape

(57650, 4)

In [7]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [8]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [9]:
df.head(10)

,artist,song,text
0,Keith Urban,You Won,There was a world outside my door \r\nI wasn'...
1,Fabolous,Work Magic Freestyle,[DJ Envy:] \r\nYeah its the peoples choice DJ...
2,Celine Dion,Lullaby,"Goodnight, my angel, time to close your eyes ..."
3,Van Morrison,Fire In The Belly,"Call of the wildest, it's got the best of you ..."
4,Celine Dion,Fly,"Fly, fly little wing \r\nFly beyond imagining..."
5,Toto,I'll Be Over You,Some people live their dreams \r\nSome people...
6,HIM,Heaven Tonight,I hold your hand in mine \r\nI hold your hand...
7,Bob Dylan,Catch The Wind,In the chilly hours and minutes of uncertainty...
8,Roxette,Heart Of Gold,"I want to live, I want to give \r\nI've been ..."
9,Johnny Cash,I Heard The Bells On Christmas Day,I heard the bells on Christmas Day \r\nTheir ...

In [10]:
df['text'][0]

"There was a world outside my door  \r\nI wasn't in touch with anymore  \r\nThere was a way I used to feel  \r\nI knew what was and wasn't real  \r\n  \r\nYou built a bridge, I tore it down  \r\nI felt safe on shaky ground  \r\nAnd I was a master of despair  \r\nMaking believe I didn't care  \r\n  \r\n[Chorus]  \r\nI shouldn't be standing here today  \r\nAfter all the crazy things I've done  \r\nI'm ready to fall and that's OK  \r\nI ran as far as I could run  \r\nYou won  \r\n  \r\nOut of a world turned upside down  \r\nIt took some time to come around  \r\nOut of a dream you made me whole  \r\nYes you did  \r\nYou lit a fire down in my soul  \r\n  \r\n[Chorus: x2]  \r\n  \r\nAnd you won  \r\n  \r\nI'm ready to fall  \r\nI thought I knew what I was doing  \r\nI thought I was in control  \r\nI thought nobody could slow me down  \r\nBut what did I know  \r\nI was just a kid, a motherless child  \r\nNo one to watch over me I was runnin' wild  \r\nFree of all responsibility 'til my life  \r\nAnd my love for myself caught up with me  \r\nYeah, it caught up with me  \r\nAnd now I'm (ready to fall), yes I am  \r\nSo ready\r\n\r\n"

In [11]:
df = df.sample(5000)

In [12]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [13]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [14]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [15]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [18]:
similarity[0]

array([1.        , 0.00761005, 0.02308161, ..., 0.01174132, 0.04128315,
       0.08466842])

In [23]:
df[df['song'] == 'Fire In The Belly']

,artist,song,text
3,Van Morrison,Fire In The Belly,"call of the wildest , it 's got the best of yo..."

In [21]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [24]:
recommendation('Fire In The Belly')

['Heaven Tonight',
 'Almost In Love',
 'Take Me Tonight',
 'Tonight',
 'Tonight',
 'Calling Heaven',
 'Your Love (L.o.v.e. Reggae Mix)',
 'Never Let Go',
 'Boy',
 'All Your Love',
 'Heaven Help Me',
 'One Last Time',
 'Heart Over Mind',
 'Ready To Fall',
 "Can't Stop Thinking About Love",
 'Tonight Is Forever',
 'Love Is',
 'Two Rights',
 'Joy To The World',
 'Always Loved A Film']

In [25]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))